@{
    ViewData["Title"] = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de Personas</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-outline-primary" asp-action="Upsert">
            <i class="fa-solid fa-square-plus"></i>
            Agregar persona
        </a>
    </div>
</div>

<br />

<div class="p-4 border rounded bg-light">
    <table id="tblPersonas" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Nacimiento</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/persona.js"></script>
}